@{
    ViewBag.Title = "تایید ایمیل";
}

<h2>صفحه تایید ایمیل.</h2>
<div>
    <p>
        با تشکر بابت تایید ایمیل   @Html.ActionLink("لطفا برای ورود اینجا کلیک کیند", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
