@model Avenue.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "ارسال تایید ایمیل";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        لطفا ایمیل خود را چک کنید ما برای شما ایمیل ارسال کرده ایم
    </p>
</div>


