@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="block-center mt-xl wd-xl">
    <!-- START panel-->
    <div class="panel panel-dark panel-flat">
        <div class="panel-heading text-center">
            <a href="#">
                <img src="~/Content/Images/logo.png" alt="Image" class="block-center img-rounded" />
            </a>
        </div>
        <div class="panel-body">
            <p class="text-center pv">ورود به پنل</p>
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { novalidate = "", @class = "mb-lg" }))
            {
                @*@Html.AntiForgeryToken()*@


                <h5>
                    @Html.ValidationSummary()
                </h5>
               <input type="hidden" value="@ViewBag.returnUrl"/>
                <div class="form-group has-feedback">
                    <input id="exampleInputEmail1" type="email" placeholder="ایمیل" name="Email" autocomplete="off" required="required" class="form-control" />
                    <span class="fa fa-envelope form-control-feedback text-muted"></span>
                </div>
                <div class="form-group has-feedback">
                    <input id="exampleInputPassword1" type="password" name="Password" placeholder="رمز عبور" required="required" class="form-control" />
                    <span class="fa fa-lock form-control-feedback text-muted"></span>
                </div>
                <div class="clearfix">
                    <div class="checkbox c-checkbox pull-left mt0">
                        <label>
                            <input type="checkbox" value="" name="RememberMe" />
                            <span class="fa fa-check"></span>مرا بخاطر بسپار
                        </label>
                    </div>
                    <div class="pull-right">
                        <a href="@Url.Action("Recover", "Pages")" class="text-muted">آیا رمز عبور را فراموش کرده اید؟</a>
                    </div>
                </div>
                <button type="submit" class="btn btn-block btn-primary mt-lg">ورود</button>
            }
            <p class="pt-lg text-center">آیا ثبت نام کرده اید</p><a href="@Url.Action("Register", "Pages")" class="btn btn-block btn-default">ثبت نام</a>
        </div>
    </div>
    <!-- END panel-->
</div>