@model IEnumerable<Avenue.DTO.ServicePhotoDto>
@{
    Layout = null;
}
<ul id="replace">
    @foreach (var item in Model)
    {
        <li class="row col-md-3 list-group li" style="list-style-type: none">

            <img src="@Url.Content(item.ImageUrl)" width="130" height="130" />
            <p id="@item.Id" class="icon-close" style="position: absolute;
            font-size: 25px;
            top: 6px;
            right: 5px;
            font-size: 18px;
            cursor: pointer;
            color: #e81c1c;"></p>
        </li>
    }
</ul>
<script>
    $(".icon-close").click(function () {
        debugger;
        var id = $(this).attr('id');
        $.ajax({
            url: '@Url.Action("DeletePhoto","WeddingVenues")',
            data: { id: id },
            Type: "post",
            dataType: "html",
            success: function (result) {
                $("#"+id).closest('.li').remove();
            }, error: function () {
                alert("error");
            }
        });
    })
</script>
